/*off-screen-menu */
.off-screen-menu {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}



nav {
    padding: 1rem;
    display: flex;
    background-color: rgb(0, 0, 0);
}



.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}

body {
  background-color: #ffffff;
  color: #000000;
  margin: 1;
  padding: 1;
}
a { text-decoration: none; color: #fff; }


.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}

.ding {
    font-size: 50px;
    text-align: left;
    list-style: none;
    padding-left: 155px;
}

/* default Links */
a {
    text-decoration: none;
    color: #000000;
}

.off-screen-menu a:hover {
    color: grey;
}

.off-screen-menu a {
    text-decoration: none;
    color: #fff;
}

* {
    font-family: 'Kumbh Sans',sans-serif;
}
.Text {
	text-align: center;
}

.header {
	text-align: center;
}
.Tabelle {
	text-decoration: none;
}

/* Arrow-Link zentrieren */
.center-link {
  display: block;
  text-align: center;
  margin: 1rem 0;
}
.center-link img {
  display: inline-block;
}

.center-link img {
  transition: transform .25s ease, filter .25s ease;
}
.center-link:hover img {
  transform: scale(1.08) rotate(-3deg);
  filter: brightness(1.12) saturate(1.1);
}

/* Navbar links: Hover‑Effekt */
.off-screen-menu .ding a {
  display: inline-block;
  transition: transform .25s ease, filter .25s ease;
  will-change: transform, filter;
  cursor: pointer;
}

.off-screen-menu .ding a:hover,
.off-screen-menu .ding a:focus {
  transform: scale(1.08) rotate(-3deg);
  filter: brightness(1.12) saturate(1.1);
  outline: none;
}

.off-screen-menu .ding a:active {
  transform: scale(1.02) rotate(-1deg);
}

nav {
  position: relative;
  z-index: 1002;
  display: flex;
  align-items: center;
}

.off-screen-menu {
  z-index: 1000;
}

.ham-menu {
  z-index: 1003;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  transition: transform .3s ease, top .25s ease, opacity .2s ease;
}

.ham-menu span:nth-child(1) { top: 30%; }
.ham-menu span:nth-child(2) { top: 50%; }
.ham-menu span:nth-child(3) { top: 70%; }

/* symmetrische Rotation (Animation überarbeitet) */
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}


.off-screen-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;   
  align-items: flex-start;
  padding-top: 5rem;             
  padding-left: 1rem;
  z-index: 1000;                
}

/* Liste: kleiner Abstand oben */
.off-screen-menu .ding {
  margin: 0;
  padding-left: 155px;
  list-style: none;
  font-size: 50px;
  margin-top: 0.4rem;
}

.ul {
   margin: auto;
   width: fit-content;
}

.ul2 {
   margin: auto;
   width: fit-content;
   list-style-type: none;
}

.Linie {
    height: 2px;
    background-color: black;
    border: none;
}

.Strich {
    height: 2px;
    background-color: black;
    border: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.Linie2 {
    height: 2px;
    background-color: black;
    border: none;
}

.Logo {
    display: block;
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: center;
}